:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-yellow: #FCB72B;
    --clr-dark: #495567;
    --clr-grey: #939CAA;
    --clr-light-grey: #E5ECF4;
    --clr-snow: #F2F5F9;
    --clr-light-yellow: #FFF4DF;
    --ff-main: "Space Mono", sans-serif;
    --ff-secondary: "Lexend Deca", sans-serif;
    --font-weight: 400;
    --fw-bold: 700;
    --fw-medium: 500;
    --font-size: 16px;
    --transition-time: 0.3s;
}

/*******************************
    FONTS
********************************/

/* lexend-deca-regular - latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-mono-700 - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/space-mono-v11-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*******************************
    GENERAL STYLES
********************************/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--ff-main);
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-main);
    font-weight: var(--fw-bold);
}

p {
    font-family: var(--ff-secondary);
    font-weight: 400;
}

.btn {
    padding: 14px 48px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #FCB72B;
}

.btn-yellow {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    background-color: var(--clr-yellow);
    color: var(--clr-white);
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
}

.btn-yellow:hover{
    background-color: var(--clr-white);
    color: var(--clr-yellow);
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main {
    flex-grow: 1;
}

.text-black {
    color: var(--clr-black);
}

.text-white {
    color: var(--clr-white);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.d-flex {
    display: flex;
}